body {
    overflow-x: hidden;
    height: 100%;
}

/* custom nav */
.navbar {
    padding-bottom: 0.2rem !important;
    padding-top: 0.2rem !important;
    /* border-bottom: 1.5px solid black; */
    box-shadow:
      inset 0px -5px 5px 0px rgba(40, 40, 40, 0.5);
}
.navbar-brand { 
    background-color: rgba(255, 53, 53, 0.774);
    border-radius: 12px;
    padding: 0% 0.785% !important;
}
#wrapper {
    min-height: 100vh;
}
/* custom sidebar */
#sidebar-wrapper img { 
    width: 5vw;
    display: block;
    margin: auto;
}
#sidebar-wrapper #user-display { 
    text-align: center;
}
#sidebar-wrapper #user-display-password { 
    display: block;
    margin: auto;
    color:white;
    font-size: 0.8em;
    padding: 0em 0.75rem !important;
}
#sidebar-wrapper {
    min-height: 100%;
    margin-left: -12rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}
.sidebar-button button:hover{
    color: rgb(201, 201, 201);
}
#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}
#sidebar-wrapper .list-group {
    width: 12rem;
}
#sidebar-wrapper .list-group #sidebar-hr{
    background-color: #b4b4b4!important;
    margin: 0;
    border-top: 3px solid rgba(0,0,0,.1);
} 
#page-content-wrapper {
    min-width: 99vw;
}
#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}
.list-group-item-action {
    color: rgba(255, 255, 255, 0.788) !important;
    font-weight: lighter;
}
.dropdown{
    margin-top: auto;
}
.dropdown .list-group-item-action {
    color: rgba(255, 255, 255, 0.788) !important;
    font-weight: lighter;
}
.dropdown-menu {
    padding: 0 !important;
    border: none !important;
    width: 12rem;
    box-shadow: -2px 2px 8px 1px #000000;
    /* margin: 1px !important;  */
}
.dropdown-menu li{
    width: 12rem;
}
.list-group-item {
    padding: 0.25rem 1rem !important;
}

/* custom login */
#app-login {
    background-image: url();
}

.login-card {
    padding: 1.8rem;
    border: solid 1px;
    border-radius: 12px;
    background-color: #eeeeeed2;
    box-shadow: 5px 5px 10px 1px #9b9b9bd2;
}
.login-img img{
    padding: 0.8rem;
    width: 80%;
    display: block;
    margin: auto;
}

.login-details{
    display: block;
    text-align: center;
    margin: auto;
}

/* page-content-wrapper */
.new-record-submit, .importDataBtn {
    float: right;
}
.record-search { 
    float: right;
}

/* page-content-title */
.page-content-title { 
    background-color: rgba(255, 0, 0, 0.726);
    color: white;
    padding-left: 0.875rem;
    border-radius: 10px;
}

/* custom material-icon */
.material-icons { 
    vertical-align: bottom;
}
.material-icons-toggle{
    vertical-align: bottom;
    font-size: 22px;
}
.material-icons-toggle::before {
    display: none;
}
.material-icons-sidebar{
    vertical-align: bottom;
    font-size: 20px;
    float: right;
}
.material-icons-sidebar-dropdown{
    vertical-align: bottom;
    font-size: 20px;
    float: right;
}
.material-icons-newrecord {
    vertical-align: bottom;
    width: 2px;
    color:rgb(201, 182, 182);
}

/* alert */
#error-alert { 
    padding: 0.25rem 0.875rem;
}

/* custom show page */
.profile-img img{
    width: 100%;
    display: block;
    border-radius: 8px;
    margin:auto;
    box-shadow: 3px 2px #888888;
}
.primary-details, .profile-img {
    margin-bottom: 1rem;
}
.profile-details{
    padding-top: 10px;
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
    box-shadow: 3px 2px #888888;
    margin-left: 0 !important
}
.primary-details-content {
    text-decoration: underline rgb(136, 136, 136);
    text-transform:uppercase;
}
.edit-record{
 float: right;
}

/* custom table */
.profile-details #table-show-record td{
    padding: 0 !important;
}

/* custom input=number  */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}