@media (min-width: 1920px) { /*  */
    #sidebar-wrapper img { 
        width: 8vw;
        display: block;
        margin: auto;
    }
    #page-content-wrapper {
        min-width: 0; 
        width: 100%;
    }
    #sidebar-wrapper {
        margin-left: 0;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -12rem;
    }
}


@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
        height: 100%;
    }
    #page-content-wrapper {
        min-width: 80vw;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -12rem;
        min-height: 100%;
    }
    body {
        overflow-x: visible !important;
    }
}

/* @media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -12rem;
    }

}; */
